<div class="employ-step-3 employ-step-slide">
  <div class="back" id="combackStep-2">
    <span>Назад</span>
  </div>
  <div class="employ-cal-day-wrap">
    <div class="employ-cal-day">
      <div class="employ-cal-day-item">
        пн
      </div>
      <div class="employ-cal-day-item">
        вт
      </div>
      <div class="employ-cal-day-item">
        ср
      </div>
      <div class="employ-cal-day-item">
        чт
      </div>
      <div class="employ-cal-day-item">
        пт
      </div>
      <div class="employ-cal-day-item output">
        сб
      </div>
      <div class="employ-cal-day-item output">
        вс
      </div>
    </div>
    <div class="employ-cal-day">
      <div class="employ-cal-day-item">
        пн
      </div>
      <div class="employ-cal-day-item">
        вт
      </div>
      <div class="employ-cal-day-item">
        ср
      </div>
      <div class="employ-cal-day-item">
        чт
      </div>
      <div class="employ-cal-day-item">
        пт
      </div>
      <div class="employ-cal-day-item output">
        сб
      </div>
      <div class="employ-cal-day-item output">
        вс
      </div>
    </div>
    <div class="employ-cal-day">
      <div class="employ-cal-day-item">
        пн
      </div>
      <div class="employ-cal-day-item">
        вт
      </div>
      <div class="employ-cal-day-item">
        ср
      </div>
      <div class="employ-cal-day-item">
        чт
      </div>
      <div class="employ-cal-day-item">
        пт
      </div>
      <div class="employ-cal-day-item output">
        сб
      </div>
      <div class="employ-cal-day-item output">
        вс
      </div>
    </div>
  </div>
  <div class="employ-ov" ><div class="employ-cal-wrap" id="employCalc"></div></div>
  <a href="#" class="employ-but disabled" id="saveDay">
    Сохранить
  </a>
</div>