<div class="employ-step-2 employ-step-slide">
  <div class="back" id="combackStep-1">
    <span>Вернуться к&nbsp;шагу&nbsp;1</span>
  </div>
  <div class="employ-step">
    <div class="employ-step-h">
      Шаг 2 из 2. Начало и конец отпуска
    </div>
    <div class="employ-step-name">
      Иванов Иван Иванович
    </div>
  </div>
  <div class="employ-chose" id="employChose">
    <div class="employ-chose-item start">
      <div class="employ-chose-title">
        Дата начала отпуска
      </div>
      <div class="employ-chose-date">
        Выберите дату
      </div>
    </div>
    <div class="employ-chose-item end">
      <div class="employ-chose-title">
        Дата конца отпуска
      </div>
      <div class="employ-chose-date">
        Выберите дату
      </div>
    </div>
  </div>
  <div class="employ-chose-day">
    Выбрано дней: <span>0</span>
  </div>
  <div class="employ-errors disabled" id="employErrors"></div>
  <a href="#" class="employ-but disabled" id="issueVacation">
    Оформить отпуск
  </a>
</div>